body    {

    background-color: rgb(10, 7, 189);
    font-size: 15px;
    
}

h1 {

flex: auto;
padding-top: 2em;
color: rgb(0, 0, 0);
font-family: Arial, Helvetica, sans-serif;
box-shadow: inset, black;
text-align: center;


}

#botoes {
    
    max-width: 100rem;
    width: 50%;
    margin: 1rem auto;
    padding: 6rem;
    text-align: center;
    background: rgb(255, 255, 255);
    border: 0.3rem solid #192a3b;
    
    width: 90%;
    height: 47%;
    border: 1em solid; 
    box-shadow: #1a1b1b;
    box-sizing: 50%;
    border-color: rgb(0, 0, 0) rgb(0, 0, 0) rgb(0, 0, 0) rgb(0, 0, 0);
    border-radius: 2rem;
}
@media only screeb and (max-widt: 768px){

#botoes {

  width: 25%;
  height: auto;

}

button {

  font-size: auto;
 width: auto;
 height:auto;
 padding: 0.75em 0.88em;

}



}

*{
    box-sizing: border-box;
  }

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
button {
  font-size: 2em;
  background: #271bcc;
  color: #fff;
  border: 0.15rem solid #1a1b1b;
  padding: 0.75em 0.88em;
  margin: 1em;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
button:hover {
  color: #f3f3f3;
}
button::after {
  content: "";
  background: #022c64;
  position: absolute;
  z-index: -1;
  padding: 0.85em 0.75em;
  display: block;
}
button[class^="slide"]::after {
  transition: all 0.20s;
}
button[class^="slide"]:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 0.20s;
}
button.slide_from_left::after {
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
}
  
#creditos {
display: flex;
justify-content: bottom;
position: relative;
font-size: 0.88rem;
text-align: auto;

}